<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856078965985-ab5rqv3h5dk2jvaev9udiilcpnqeiql0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856078965985-ab5rqv3h5dk2jvaev9udiilcpnqeiql0</string>
	<key>API_KEY</key>
	<string>AIzaSyCTCkXRNB0IaMz-9MxLzGyZqWEUOsr9FYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>856078965985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project-tests.app</string>
	<key>PROJECT_ID</key>
	<string>atos-project-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>atos-project-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856078965985:ios:5b7edf03a4b68bceb7eba0</string>
</dict>
</plist>